@import "tailwindcss";

/* Animación simplificada para el Logo en el Splash Screen */
@keyframes pulse-soft {
  0%, 100% { opacity: 1; transform: scale(1); }
  50% { opacity: 0.8; transform: scale(1.02); }
}

.animate-pulse-soft {
  animation: pulse-soft 2s infinite ease-in-out;
}
